<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Connection Strings Section -->
	<connectionStrings>
		<add name="CCLMS"
             connectionString="Data Source=DHARMIK\SQLEXPRESS01;Initial Catalog=CCLMS;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Email Configuration -->
		<add key="SenderEmail" value="Your-gmail" />
		<add key="SenderPassword" value="Your gmail password" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
